---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Greeting from "../../components/Greeting";
const pageTitle = "Pagina principal";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Mi asombroso blog subtitulo</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
